{% extends 'taskmanager/main.html' %} {% block content %}

<div class="center-column">
    <h2>
        <center>About</center>
    </h2>
    <div>
        <p>This To-Do web application was developed by <a href="https://twitter.com/ivess_john">John Ivess</a> as a part of his project-based learning mode.</p>

        <h3>To-Do app links:</h3>
        <ul>
            <li><a href="https://ivess-simpletodolist.herokuapp.com/">To-Do app website</a> (hosted by Heroku)</li>
            <li><a href="https://github.com/IvessJohn/django-todo-app">GitHub Repository</a></li>
        </ul>

        <hr>

        <h4>Tools Used</h4>
        <pre>Django<br>Python<br>HTML</br>
        </pre>

        <h4>Additional Tools and integrations:</h4>
        <pre>jQuery</pre>

        <center><a class="btn btn-sm btn-info" href="{% url 'list' %}">Back</a></td>
        </center>
    </div>
</div>

{% endblock %}